
<head>
  <title>MyBlog</title>
</head>
<body>

<div id="wrapper">

  <nav>
    <div class="menu">
      <ul>
         <li><%= link_to 'Home', articles_path %></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  
  <header>
    <h1><a href="#">RailBlog</a></h1>
    <h2>Li Sui 08512949</h2>
  </header>
  
  <section id="main">
      <section id="content">
      <% @articles.each do |article| %>
        <article>
          <h2><%= article.title %></h2>
          <p><%= article.text %></p>
          <div><%= link_to 'Show', article %></div>
          <div><%= link_to 'Edit', edit_article_path(article) %></div>
          <div><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </article>          
       <% end %>
                      
      </section>

    <aside id="sidebar">
          <h3><%= link_to 'New Article', new_article_path %></h3>

      </aside>

  </section>
  
  <footer id="footer-area">159.707 Assignment1 </footer>
  
</div>

</body>
