<head>
  <title>MyBlog</title>
</head>
<body>

<div id="wrapper">

  <nav>
    <div class="menu">
      <ul>
         <li><%= link_to 'Home', articles_path %></li>
       
      </ul>
    </div>
  </nav>
  
  <header>
    <h1><a href="#">RailBlog</a></h1>
    <h2>Li Sui 08512949</h2>
  </header>
  
  <section id="main">
      <section id="content">
      <% @articles.each do |article| %>
        <article>
          <h2><%= article.title %></h2>
          <p><%= article.text %></p>
          <p>
          <%= link_to 'ReadMore', article %> <span>&bull;</span>
          Comments (<%= article.comments.count%>)
          </p>
        </article>          
       <% end %>
                      
      </section>

    <aside id="sidebar">
          <h3><%= link_to 'New Article', new_article_path %></h3>
          <p>there are <%=@articles.count%> articles in total.  Please post more!</p>
          <div id="search">
            <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div>
      </aside>

  </section>
  
  <footer id="footer-area">159.707 Assignment1 </footer>
  
</div>

</body>
