<h2><%= title %></h2>
<p><%= text %></p>
<p>
	<a href="#/<%= id %>">ReadMore</a><span>&bull;</span>
</p>
<!-- <td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td> -->